<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Corona Report Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel='icon' href='img/favicon.ico' type='image/x-icon' />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/Chart.min.css" />
<!-- <link rel="stylesheet" href="css/corona.css" /> -->
<link rel="stylesheet" href="css/new-design-corona.css" />
<script type="text/javascript" src="js/all.min.js"></script>
<script type="text/javascript" src="js/Chart.bundle.min.js"></script>
</head>

<body>
	<div class="container-fluid">
		<div class="dash ml-auto"></div>
	</div>
	<div class="container">
		<div class="row custom-border">
			<div class="col-10 m-auto">
				<div class="corona-logo">
					<div class="logo-img">
						<img th:src="@{/img/logo.png}" width=200 alt="coronaLogo" /> <img
							th:src="@{/img/bow.png}" class="bow" width=60 alt="coronaLogo" />
					</div>
					<div class="logo-name">
						<img th:src="@{/img/logo-name.png}" width=200 alt="coronaLogoName" />
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-4">
			<img th:src="@{/img/virus.png}" class="virus" alt="coronaLogoName" />
			<div class="col-8 m-auto">
				<div class="row d-flex align-items-center justify-content-center">
					<div class="col-3 d-flex justify-content-center">
						<div class="card anime1 text-center">
							<div class="card-body">
								<span class="card-text" th:text="${coronaTotal.Confirmed}"></span>
							</div>
							<h6 class="card-title">Total Cases</h6>
						</div>
					</div>
					<div class="col-3 d-flex justify-content-center">
						<div class="card anime2 text-center">
							<div class="card-body">
								<span class="card-text" th:text="${coronaTotal.deaths}"></span>
							</div>
							<h6 class="card-title">Total Deaths</h6>
						</div>
					</div>
					<div class="col-3 d-flex justify-content-center">
						<div class="card anime3 text-center">
							<div class="card-body">
								<span class="card-text" th:text="${coronaTotal.Recovered}"></span>
							</div>
							<h6 class="card-title">Total Recovered</h6>
						</div>
					</div>
					<div class="col-3 d-flex justify-content-center">
						<div class="card anime4 text-center">
							<div class="card-body">
								<span class="card-text" th:text="${coronaTotal.Active}"></span>
							</div>
							<h6 class="card-title">Total Active</h6>
						</div>
					</div>
					<div class="col-3 d-flex justify-content-center">
						<div class="card anime5 text-center">
							<div class="card-body">
								<span class="card-text" th:text="${coronaNewest.newCases}"></span>
							</div>
							<h6 class="card-title">New Cases</h6>
						</div>
					</div>
					<div class="col-3 d-flex justify-content-center">
						<div class="card anime6 text-center">
							<div class="card-body">
								<span class="card-text" th:text="${coronaNewest.newDeaths}"></span>
							</div>
							<h6 class="card-title">New Deaths</h6>
						</div>
					</div>
					<div class="col-3 d-flex justify-content-center">
						<div class="card anime7 text-center">
							<div class="card-body">
								<span class="card-text" th:text="${coronaNewest.newRecovered}"></span>
							</div>
							<h6 class="card-title">New Recovered</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-4 custom-border">
			<div class="col-10 m-auto">
				<div class="row mb-4">
					<div class="col-6">
						<canvas id="totalConfirmed"></canvas>
					</div>
					<div class="col-6">
						<canvas id="totalDeaths"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="world-wide-report-title mt-1">
					<div class="part1">
						<img th:src="@{/img/covid19.png}" width=150 alt="coronaLogoName" />
					</div>
					<div class="part2">
						<img th:src="@{/img/reportedWW.png}" width=150
							alt="coronaLogoName" />
					</div>
				</div>
			</div>
			<div class="col-12 stats mb-4">
				<div
					class="wwStatistics m-auto d-flex align-items-center justify-content-center"
					th:style="'background-image:url(' + ${'img/world-wide.png'} + ');'">
					<div class="card anime6 ml-4 mr-4">
						<div class="card-body">
							<h6 class="card-title mb-0">Total Confirmed</h6>
							<span class="card-text" th:text="${totalCasesWW.totalConfirmed}"></span>
						</div>
					</div>
					<div class="card anime6 mr-4">
						<div class="card-body">
							<h6 class="card-title mb-0">Total Deaths</h6>
							<span class="card-text" th:text="${totalCasesWW.totalDeaths}"></span>
						</div>
					</div>
					<div class="card anime6 mr-4">
						<div class="card-body">
							<h6 class="card-title mb-0">Total Recovered</h6>
							<span class="card-text" th:text="${totalCasesWW.totalRecovered}"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-6 m-auto footer">
						<p class="text-center m-0">Designed by Merna El-Shafeay <i class="fas fa-heartbeat"></i></p>
					</div>
				</div>

			</div>

		</footer>
	</div>


	<script>
	
	// Total Confirmed Chart
	var ctx = document.getElementById('totalConfirmed').getContext('2d');
	var y = [[${totalConfirmed}]];

	var chart = new Chart(ctx, {
		type : 'line',
		data : {
		labels : [ 'January','February', 'March', 'April', 'May', 'June', 'July'],
			datasets : [ {
				label : 'Covid-19 chart for the total confirmed cases',
				backgroundColor : 'rgba(239,91,37, .2)',
				borderColor : 'rgb(239,91,37)',
				pointBackgroundColor: 'rgba(0,0,0, .3)',
				data : y
			} ]
		},

		options : {},
		
	});
	
	// Total Deaths Chart
	var ctx = document.getElementById('totalDeaths').getContext('2d');
	var y = [[${totalDeaths}]];

	var chart = new Chart(ctx, {
		type : 'line',
		data : {
		labels : [ 'January','February', 'March', 'April', 'May', 'June', 'July'],
			datasets : [ {
				label : 'Covid-19 chart for the total deaths',
				backgroundColor : 'rgba(239,91,37, .2)',
				borderColor : 'rgb(239,91,37)',
				pointBackgroundColor: 'rgba(0,0,0, .3)',
				data : y
			} ]
		},

		options : {},
		
	});
	
	// totalRecovered Chart
	var ctx = document.getElementById('totalRecovered').getContext('2d');
	var y = [[${totalRecovered}]];

	var chart = new Chart(ctx, {
		type : 'line',
		data : {
		labels : [ 'January','February', 'March', 'April', 'May', 'June', 'July'],
			datasets : [ {
				label : 'Covid-19 chart for the total recovered',
				backgroundColor : 'rgba(239,91,37, .2)',
				borderColor : 'rgb(239,91,37)',
				pointBackgroundColor: 'rgba(0,0,0, .3)',
				data : y
			} ]
		},

		options : {},
		
	});
	</script>
</body>
</html>